body{
    background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(59,59,59,1) 59%);
}

.header{
    display : flex;
    justify-content: center;

    padding-bottom: 40px;
}

.quit {
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}

.quit:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

.wrapper{
    display : flex;
    justify-content: center;

    padding-bottom: 40px;
}

.btn_action{

    display: inline-block;
}

.btn_edit{

    background: linear-gradient(90deg, rgba(92,105,0,0.8690826672465861) 0%, rgba(91,166,1,1) 30%, rgba(110,125,2,1) 96%);
    color: #FFFFFF;

    width: 250px;
    height: 45px;

    margin: 10px 10px 10px 0px;

}

.btn_delete{

    background: linear-gradient(90deg, rgba(255,0,0,0.8690826672465861) 0%, rgba(168,12,12,1) 44%, rgba(255,0,0,1) 88%);
    color: #FFFFFF;

    width: 250px;
    height: 45px;

    margin: 10px 10px 10px 0px;
}

.btn_power{

    background: linear-gradient(90deg, rgba(37,0,255,0.8690826672465861) 0%, rgba(30,35,73,1) 49%, rgba(80,0,255,1) 100%);
    color: #FFFFFF;

    width: 250px;
    height: 55px;

    margin: 10px 10px 10px 0px;

}

.num_power{
    color: #FFFFFF;
}

.webform__form-elem {
    background: transparent;
    border: 1px solid rgba(256,256,256,.3);

    line-height: 1.2;
    font-weight: 500;
    padding: 26px 24px;
    color: #fff;

    font-size: 14px;
    width: 480px;
    height: 54px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 24px;

    margin-bottom: 8px;
    transition: 0.4s;
    margin-left: auto;
}

.webform__form-elem::placeholder {
    color: white;
}

#comment {
    height: 128px;
    position: relative;
    margin-bottom: 12px;
    padding-bottom: 65px;
}

.date_of_birth, .gender, .limbs, .capabilities{
    padding-top: 20px ;
    margin-left: auto;
}
.capabilities{
    padding-bottom: 20px;
}

.webform__form-btn {
    text-transform: uppercase;
    color: white;
    width: 480px;
    height: 60px;
    border: 2px solid #f14d34;
    border-radius: 5px;
    background: #f14d34;
    transition: 0.4s;
    font-size: 12px;
}

.webform__form-btn:hover {
    background: none;
}